<!DOCTYPE html>
<html>
<head>
    <title>Recall</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
</head>
<body>
    <div>Hello</div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>